@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

body {
    font-family: Roboto, sans-serif;
}

    
.main-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    justify-content: space-evenly;
    min-width: 1200px;
    color: #2B2D30;
}



.title {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    color: #A11311;
    font-size: 1.3rem;


}


.drop-cap { 
    color: #A11311;
    float: left; 
    font-size:5em; 
    font-style:normal;
    font-family: sans-serif;
    padding-right: 25px;
    line-height: 55px;
}


.text {
    column-count: 2;
    column-gap: 50px;
    column-rule: 1px solid rgba(161, 19, 17, .2);
    /* column-width: 100%; */
    padding: 0 50px;
    margin-bottom: 35px;
    font-size: 14px; 
    line-height: 23px;

}

.text img {
    display: inline-block;
    padding-left: 0;
    width: 80%;
    max-width: 400px;
}

/* .player {
    margin-top: 15px;
    display: flex;
    align-items: center;
    padding-bottom: 50px;

} */

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

figure img {
    align-self: center;
    padding: 0;
    margin: 0;
}



figcaption{
    color:rgba(161, 19, 17, .7); 
    text-align: center;
    padding-top: 15px;

}


@media screen and (max-width: 900px){
    

    .main-article {
        width: 100%;
        max-width: 900px;
        min-width: 100px;
        margin: 10px; 
        padding: 20px;

    }

    .text {
        column-count: 1;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .article-p {
        margin: 0;
    }

    figure {
        width: 300px;
        padding: 0;
        margin: auto;
    }

    .text img {
        width: 95%;
        align-self: center;
    }
}