@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');


body {
    font-family: Roboto, sans-serif;
}


.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    justify-content: space-evenly;
    min-width: 1200px;
    min-height: 90vh;
    color: #2B2D30;
}

.text {
    width: 90%;
    font-size: 14px; 
    line-height: 23px;
}


.title {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    color: #A11311;
    font-size: 1.3rem;
}



blockquote {
    color: rgba(161, 19, 17, .7);
    border-left: 5px solid rgba(161, 19, 17, .7);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}


.drop-cap { 
    color: #A11311;
    float: left; 
    font-size:5em; 
    font-style:normal;
    font-family: sans-serif;
    padding-right: 25px;
    line-height: 55px;
}


@media (max-width: 900px){

    .main-body {
        width: 100%;
        max-width: 900px;
        min-width: 100px;
        margin: auto;
    }

    .text{
        width: 90%;
    }

}