@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');


body {
    font-family: Roboto, sans-serif;
}

    
.main-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    justify-content: space-evenly;
    min-width: 1200px;
    min-height: 90vh;
    color: #2B2D30;
}



.title {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    color: #A11311;
    font-size: 1.3rem;
}


blockquote {
    color: rgba(161, 19, 17, .7);
    border-left: 5px solid rgba(161, 19, 17, .7);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

.drop-cap { 
    color: #A11311;
    float: left; 
    font-size:5em; 
    font-style:normal;
    font-family: sans-serif;
    padding-right: 25px;
    line-height: 55px;
}


.text {
    column-count: 2;
    column-gap: 50px;
    column-rule: 1px solid rgba(161, 19, 17, .2);
    column-width: 100%;
    padding: 0 50px;
    margin-bottom: 35px;
    font-size: 14px; 
    line-height: 23px;

}


.player {
    margin-top: 15px 15px;
    padding: 0 15px 0 15px;

}


@media (max-width: 600px){

    .text {
    column-count: 1;
    }

    .main-article {
        width: 600px;
        max-width: 100%;
        align-items: center;
        justify-content: center;
    }
}