@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

body {
    font-family: Roboto, sans-serif;
}

  
.main-author {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    justify-content: space-evenly;
    min-width: 1200px;
    color: #2B2D30;
    padding-bottom: 50px;
}


.title {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    color: #A11311;
    font-size: 1.3rem;
}


.body-author {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    column-gap: 1rem;
    max-width: 1200px;
    padding-bottom: 15px;
}

.left  {
    grid-column: 1 / span 1;
    width: 80%;
    margin-left: 15%;
}

.right {
    grid-column: 2 / span 1;
    width: 80%;
}

.body-author img {
    width: 400px;
}

.long{

    font-family: sans-serif;
    background-color: rgba(201, 72, 70, 0.1);
    color: #2B2D30;
    border-left: 5px solid rgba(161, 19, 17, .7);
    border-right: 5px solid rgba(161, 19, 17, .7);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}




.drop-cap { 
    color: #A11311;
    float: left; 
    font-size:5em; 
    font-style:normal;
    font-family: sans-serif;
    padding-right: 25px;
    line-height: 55px;
    padding-bottom: 10px;;
}





figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

figure img {
    align-self: center;
    padding: 0;
    margin: 0;
}



figcaption{
    color:rgba(161, 19, 17, .7); 
    text-align: center;
    padding-top: 15px;

}




/* MEDIA QUERIES */

@media (max-width: 900px)
    {
    
    .main-author {
        width: 100%;
        max-width: 900px;
        min-width: 100px;
        margin: 10px; 
        padding: 0 10px 10px 20px;

    }


    .body-author {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
        max-width: 900px;
    }

    .title {

        margin: 0;
    }


    .left {
        width: 100%;
        margin: 0;
        padding: 0 0 0 10px;
    }

    .right {
        width: 100%;
        margin: 0;
        padding: 0 0 0 10px;
    }

    figure {
        width: 300px;
        padding: 0;
        margin: auto;
    }

    .body-author img {
        width: 100%;
    }

}
