

.card {
    width: 80%;
    border: 1px solid rgba(253, 15, 11, 0.9); 
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;

}


.card-header {
    height: 30px;
    background-color: rgba(161, 19, 17, .9);
    padding: 5px;

} 


.card-header a {
    font-size: .9rem;
    text-decoration: none;
    padding: .5rem;
    color: white;
    font-size: 1.2rem;
}

.card-header a:hover {
    color: rgb(173, 173, 173, .9);
}


.card-section {
    display: grid;
    grid-template-columns: 60% 40%;
}


.card-right {
    display: flex;
    align-items: center;
}



.card-right img {
    width: 120px;


}



.card-footer {
    height: 30px;
    background-color: rgba(161, 19, 17, .9);
    color: white;
    font-size: .75rem;

}


.card-footer ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}


.card-footer a {
    font-size: .9rem;
    text-decoration: none;
    padding: 1rem;
    color: white;
}

.card-footer a:hover {
    color: rgb(173, 173, 173, .9);
}

.card-social-media img {
    width: 20px;
    vertical-align: middle;
}




