@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

.home-main-article {
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: 20px;
    height: 50vh;
    
}

.home-main-article button {
    color: white;
    font-size: 1rem;
    background-color: #777048;
    padding: .7rem;
    border-radius: 1rem;
    text-decoration: none;
    text-align: center;
    width: 30%;

} 


.main-article {
    display: flex;
    flex-direction: column;
    color: #2B2D30;
    width: 50%;
    padding: 50px;
    font-family: Roboto;
    overflow-y: auto;
}

.main-right-container {
    background-color: #777048;
    width: 50%;
    display: flex;
    overflow-y: auto;
    flex-direction: column ;
}


.main-image { 
    display: flex;
    background-image: url(/images/main-small.jpg);
    flex-grow: 1;
}

.article-date {
    color: #777048;
    font-size: .8rem;
    text-align: right;
    font-style: italic;
    font-weight: 100;
}

.article-title {
    text-align: left;
    font-weight: 300;
}


.main-article-text {
    font-weight: 300;
    padding: 0 0 25px 0;
}


.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;


}

.btn a {
    background-color:#777048;
    font-size: 1.3rem;
    color: white;
    border-radius: 10%;
    text-decoration: none;
    padding: 8px 20px;
}


.btn a:hover  {
    background-color:rgba(119, 112, 72, .8);
}



.main-player {
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    overflow-y: auto;
    scrollbar-width: none;
    
}





.home-bottom {
    background-color: white;
    max-width: 1200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.bottom-main {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 5%;
    flex-wrap: wrap;
}


.more-holder {
    color: #2B2D30;
    width: 200px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin: 0 15px;
}

.more-holder img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 15px;
    
}


.more-holder:hover {
    color: rgba(43, 45, 48, .7);
    font-weight: bolder;
}


.more-holder:hover img{
    opacity: .5;
}


.archive {
    margin-top: 25px;
    align-self: center;
}

.archive a {
    text-decoration: none;
    color: #A11311;
    font-size: 2rem;
    display: block;
}

.archive p {
   margin-top: 0;
}


.archive img {
    width: 100px;

}

.archive a:hover {
    color: rgba(161, 19, 17, .5);
} 

.archive img:hover {
    opacity: .6;
} 

/* MEDIA QUERIES */

@media (max-width: 900px){
    .home-main-article {
        flex-direction: column;
        margin: 0;
        height: auto;
        transition: ease all .5s;
    }

    .main-article {
        width: 100%;
        overflow-y: auto;
        transition: ease all .5s;
    }

    .main-image {
        transition: ease all .5s;
        display: none;
    }

    .main-right-container {
        width: 100%;
        transition: ease all .5s;
    }

    .main-player {
        height: 100%;
        padding: 10px;
        transition: ease all .5s;
    }

    .bottom-main {
        flex-wrap: wrap;
    }

    .home-bottom {
        margin: 5vh 0;
        width: 100%;
    }
}   


@media (max-width: 600px) {
    .bottom-main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}