@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,500&display=swap');
@import 'index.css';
@import 'buttons.css';
@import 'stories.css';
@import 'songs.css';
@import 'archive.css';




*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #2B2D30;
    color: white;
    overflow-y: scroll;
    scrollbar-width: none;
    min-height: 100vh;
    transition: ease all .5s;
}

body::-webkit-scrollbar {
    display: none;
  }


.full-height {
    display: flex;
    flex-direction: column;
}


.logo {
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    margin: 0;
}

.logo img {
    padding: 0;

}

.logo-title {
    font-size: 2rem;
    color: white;
    font-family: "Playfair Display", sans-serif;
    font-weight: 500;
}


.main-nav  ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav a{
    color: inherit;
    text-decoration: none;
    padding: 1rem;
    font-size: 1.5rem;
} 

.main-nav a:hover {
    color: #adadad;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100px;
    margin-bottom: 15px;
}

.body-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}


.main-footer{
    margin-bottom: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
}


.footer-nav {
    align-items: center;
}


.footer-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

}


.footer-nav a {
    font-size: 1.2rem;
    text-decoration: none;
    padding: 1rem;
    color: white;

}


.footer-nav a:hover {
    color: #adadad;
}

.social-media img {
    width: 30px;
    vertical-align: middle;
    
}

/* RESPONSIVENESS */

@media (max-width: 900px) {
  
    .logo img {
      display: none;
    }

    .main-header {
    flex-direction: column;
    align-items: center;
    }

    .body-container {
    margin: 0;
    padding: 0;
    }

    button {
    max-width: 100px;
    }

}