@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

 body {
    font-family: Roboto, sans-serif;
 }


.archive-main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 10px;
    background-color: white;
    /* justify-content: space-around; */
    width: 100vw;
    margin: 0;
    padding-bottom: 30px;
    align-self: center;
    
}

.header-row {
    color:  #A11311;;
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
    padding: 5px;
}


.row {
    display: inline-block;
    grid-template-rows: 20% 80%;
    width: 100%;
    margin: 0mm;
    padding: 0 2rem;
}


.row-header {
    font-style: italic;
    font-weight: 300;
    margin: 10px 0;
    text-align: center;
    color: #2b2d30;
    font-size: 1.2rem;
}


.article-row {
    height: 200px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    justify-content: center;
}

.article-row::-webkit-scrollbar {
    display: none;
}

.article {
    flex: 0 0 auto;
    width: 250px;
    height: 95%;
    display: inline-block;
    margin: 0 15px;
    background-color: rgba(208, 199, 178, .10);
    border-radius: 15%;
}

.article:hover {
    background-color: rgba(208, 199, 178, .30);
}

.article-title {
    text-align: center;
    color: #2b2d30;
    font-size: 1.2rem;
    margin: 5px 0;
}

.article-text {
    text-align: center;
    color: #2b2d30;
    font-size: 0.8rem;
    text-align: left;
    padding: 0  15px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;


}

.btn a {
    background-color:#777048;
    font-size: 1rem;
    color: white;
    border-radius: 10%;
    text-decoration: none;
    padding: 8px 20px;
}


.btn a:hover  {
    background-color:rgba(119, 112, 72, .8);
}