

.archive-main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25vh 25vh 25vh 25vh;
    grid-gap: 10px;
    background-color: white;
    justify-content: space-around;
    max-width: 1200px;
    margin: 20px;
    
}


.row {
    display: grid;
    grid-template-rows: 20% 80%;
    width: 100%;
    border: 1px solid red;
    margin: 0mm;
    

}

.article-row {
    /* display: flex;
    align-items: center; */
    /* flex-wrap: nowrap; */
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    border: 1px solid orange;
    &::-webkit-scrollbar {
        display: none;}

}

.article {
    width: 30vw;
    height: 95%;
    border: 1px solid blue;
    display: inline-block;

}

h1 {
    color: #A11311;#

}