

.archive-main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25vh 25vh 25vh 25vh;
    grid-gap: 10px;
    background-color: white;
    justify-content: space-around;
    max-width: 1200px;
    margin: 20px;
    
}


.row {
    display: grid;
    grid-template-rows: 20% 80%;
    width: 100%;
    border: 1px solid red;
    margin: 0mm;
    

}

.article-row {
    /* overflow-x: scroll; */
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    /* overflow-y: hidden;
    white-space: nowrap; */
    border: 1px solid orange;
    /* &::-webkit-scrollbar {
        display: none;} */
    -webkit-overflow-scrolling: touch;

}


.article {
    flex: 0 0 auto;
    width: 30vw;
    height: 95%;
    border: 1px solid blue;
    display: inline-block;

}

h1 {
    color: #A11311;#

}