@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

 body {
    font-family: Roboto, sans-serif;
 }


.stories-main {
    display: grid;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
    grid-template-rows: repeat(8, minmax(100px, 300px));
    column-gap: 1rem;
    row-gap: 1rem;
}


.story {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;

}

.story h1 {
    color:#A11311;
    text-align: start;
    align-self: flex-start;
}

.top-story{
    grid-column: span 6;
    grid-row: span 3;
    
}

.second-story{
    grid-column: span 3;
    grid-row: span 2; 

}

.third-story {
    grid-column: span 2;
    grid-row: span 1; 
}

.old-story {
    grid-column: auto;        
    grid-row: span 1;

}


.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;


}


.btn a {
    background-color:#777048;
    font-size: 1rem;
    color: white;
    border-radius: 10%;
    text-decoration: none;
    padding: 8px 20px;
}


.btn a:hover  {
    background-color:rgba(119, 112, 72, .8);
}


.image-holder {
    padding: 15px;
    max-height: 95%;

}

.text-and-button {
    padding: 15px;
}


/* Media Queries */


@media (max-width: 900px) {
    
    .stories-main {
        display: flex;
        flex-direction: column;
    }

    .top-story {
        width: 95vw;
        margin: 0 auto;
        padding-top: 50px;
        display: flex; 
    }

    .text-and-button {
        flex: 1;
    }


    .image-holder {
        align-self: center;
    
    }
    
    .image-holder img{
        width: 200px;
        height: 200px;
    
    }
}