@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,500&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #2B2D30;
    color: white;
    overflow-y: scroll;
    scrollbar-width: none;
    min-height: 100vh;
    transition: ease all .5s;
}

body::-webkit-scrollbar {
    display: none;
  }


.full-height {
    display: flex;
    flex-direction: column;
}


.logo {
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    margin: 0;
}

.logo img {
    padding: 0;

}

.logo-title {
    font-size: 2rem;
    color: white;
    font-family: "Playfair Display", sans-serif;
    font-weight: 500;
}


.main-nav  ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav a{
    color: inherit;
    text-decoration: none;
    padding: 1rem;
    font-size: 1.5rem;
} 

.main-nav a:hover {
    color: #adadad;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100px;
margin-bottom: 35px;
}

.body-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}




/* RESPONSIVENESS */

@media (max-width: 900px) {
  
    .logo img {
      display: none;
    }

    .main-header {
    flex-direction: column;
    align-items: center;
    }

    .body-container {
    margin: 0;
    padding: 0;
    
    }

    button {
    max-width: 100px;
    }

}